.hide_textfield{
	display: none;
}

.from_name_left{
	float: left;
	width: 220px;
}

.from_name_right{
        float: right;
	width: 220px;
}

#dedication_top{
//	background: transparent url(/themes/mostro_principal/images/d_top.png) no-repeat 0 50%;
//	width: 500px;
//	height: 18px;
}

#dedication_bottom{
//	background: transparent url(/themes/mostro_principal/images/d_bottom.png) no-repeat 0 50%;
//	width: 500px;
//	height: 18px;
}

#dedication_centro{
  width: 500px;
  height: 100%;
//  background: transparent url(/themes/mostro_principal/images/d_centro.png) repeat-y 50% 0;
  border: 2px solid #027AC6;
}

#dedication_contenedor{
  margin: 10px;
}
